* {
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 1rem;
}

body {
    /*font-family: 'Source Sans Pro';*/
    height: 100%;
    width: 100%;
}

a {
    color: inherit;
}





.logo img:hover {
    transition: 0.3s ease-out;
    transform: scale(1.1);
}

.connect {
    width: 30%;
    display: flex;
    justify-content: center;
}

.brand-name {
    width: 40%;
    display: flex;
    justify-content: center;
}

.brand-name h1 {
    font-family: 'Didot';
    font-size: 60px;
    color: #398BAC;
    font-weight: bold;
}





#ph-1 {
    text-align: center;
}

#ph-2 {
    text-align: center;
}

#ph-1 a, #ph-2 a {
    color: #2A354F;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: bolder;
}

#ph-2:hover, #ph-1:hover {
    transform: scale(1.1); 
    transition: 0.3s ease-in all; 
}





.fa-instagram, .fa-facebook, .fa-telegram {
    color: #2A354F;
}

.fa-instagram:hover {
    cursor: pointer;
    color: #833AB4;
    transition: 0.2s ease-in all;
    transform: scale(1.2);
}

.fa-facebook:hover {
    cursor: pointer;
    color: #3b5998;
    transition: 0.2s ease-in all;
    transform: scale(1.2);
}
.fa-telegram:hover {
    cursor: pointer;
    color: #2AABEE;
    transition: 0.2s ease-in all;
    transform: scale(1.2);
}



#navigation ul li a {
    color: 
    #2A354F;
    font-size: 1.1rem;
    
  
}

#navigation ul li a:hover {
    color: #398BAC;
    transition: 0.2s ease-in-out all;
    cursor: pointer;
}
#navigation ul li {
    margin-left: 20px;
}


#navigation .d-flex {
    margin-right: 20px;
}

#navigation .d-flex button {
    color: #398BAC;
    border: 1px solid #398BAC;
}

#navigation .d-flex button:hover {
    background-color: #398BAC;
    color: white;
}

#navigation ul li #navbarScrollingDropdown:hover .dropdown-menu {
    display: block;
}

.navigation .nav-list {
    display: inline-flex;
    float: left;
    margin: 8px;
}

#search-bar {
    width: 40%;
    display: flex;
align-items: center;
justify-content: center;
    
}

#search-bar input {
    width: 60%;
    height: 40%;
    margin: 10px;
    margin-left: 0px;
    padding: 5px;
    border: 2px solid #2A354F;
    
}



#search-bar div {
    height: 35%;
    width: 5%;
    background-color: white;
    display: flex;
align-items: center;
justify-content: center;
margin-right: 0px;
}

#search-bar div i:hover {
    cursor: pointer;
    transition: 0.3s ease-out;
    transform: scale(1.2);
}

.fas .fa-search {
    color: white;
}


.nav-list li a i {
    padding: 5px;
    margin: 5px;
}
.navigation ul li a:hover {
    background-color: #388BAE;
    border-radius: 3px;
    transition: 0.4s ease-in all;
    

}


.dropdown:hover>.dropdown-menu {
    display: block;
}

.carousel-item {
    margin-bottom: 20px;
    height: 35rem;
    
}










