* {
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 1rem;
}

body {
    /*font-family: 'Source Sans Pro';*/
    height: 100%;
    width: 100%;
}

a {
    color: inherit;
}



/*.header {
    margin: 5px;
    padding: 5px;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
}

.logo {
    margin: 5px;
    margin-bottom: 0px;
    padding-bottom: 0px;

    padding: 5px;
    width: 20%;
    display: flex;
    justify-content: flex-start;
}

.logo img:hover {
    transition: 0.3s ease-out;
    transform: scale(1.1);
}

.connect {
    width: 30%;
    display: flex;
    justify-content: center;
}

.brand-name {
    width: 40%;
    display: flex;
    justify-content: center;
}

.brand-name h1 {
    font-family: 'Didot';
    font-size: 60px;
    color: #398BAC;
    font-weight: bold;
}



/*.connect button {
    font-size: 1.3rem;
    font-weight: bolder;
    
    margin: 10px;
    padding: 10px;
    color: #388BAE;
    font-size: 1.2rem;
    border: 1px solid #388BAE;
    font-weight: bold;
    background-color: white;
    box-shadow: 0 0 2px 2px rgba(255, 255, 255, 0.5);
   
}*/



/*.connect button:hover {

color: white;
background-color: #388BAE;
border: 3px solid #388BAE;
transition: 0.3s ease-out;

cursor: pointer;
}*/


#ph-1 {
    text-align: center;
}

#ph-2 {
    text-align: center;
}

#ph-1 a, #ph-2 a {
    color: #2A354F;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: bolder;
}

#ph-2:hover, #ph-1:hover {
    transform: scale(1.1); 
    transition: 0.3s ease-in all; 
}





.fa-instagram, .fa-facebook, .fa-whatsapp {
    color: #2A354F;
}

.fa-instagram:hover {
    cursor: pointer;
    color: #833AB4;
    transition: 0.2s ease-in all;
    transform: scale(1.2);
}

.fa-facebook:hover {
    cursor: pointer;
    color: #3b5998;
    transition: 0.2s ease-in all;
    transform: scale(1.2);
}
.fa-whatsapp:hover {
    cursor: pointer;
    color: #128c7e;
    transition: 0.2s ease-in all;
    transform: scale(1.2);
}



#navigation ul li a {
    color: 
    #2A354F;
    font-size: 1.1rem;
    
  
}

#navigation ul li a:hover {
    color: #398BAC;
    transition: 0.2s ease-in-out all;
    cursor: pointer;
}
#navigation ul li {
    margin-left: 20px;
}


#navigation .d-flex {
    margin-right: 20px;
}

#navigation .d-flex button {
    color: #398BAC;
    border: 1px solid #398BAC;
}

#navigation .d-flex button:hover {
    background-color: #398BAC;
    color: white;
}

#navigation ul li #navbarScrollingDropdown:hover .dropdown-menu {
    display: block;
}

.navigation .nav-list {
    display: inline-flex;
    float: left;
    margin: 8px;
}

#search-bar {
    width: 40%;
    display: flex;
align-items: center;
justify-content: center;
    
}

#search-bar input {
    width: 60%;
    height: 40%;
    margin: 10px;
    margin-left: 0px;
    padding: 5px;
    border: 2px solid #2A354F;
    
}

/*#search-bar button {
    width: 15%;
    height: 40%;
    margin: 10px;
    padding: 5px;
    
    color: #388BAE;
    font-size: 1.2rem;
    border: 1px solid #388BAE;
    font-weight: bold;
    
    transition: all 0.3s ease-in-out;
}

#search-bar button:hover {
    color: #D2D3CF;
background-color: #388BAE;
border: 3px solid #388BAE;
transition: 0.3s ease-out;
border-radius: 3px;
cursor: pointer;
}*/

#search-bar div {
    height: 35%;
    width: 5%;
    background-color: white;
    display: flex;
align-items: center;
justify-content: center;
margin-right: 0px;
}

#search-bar div i:hover {
    cursor: pointer;
    transition: 0.3s ease-out;
    transform: scale(1.2);
}

.fas .fa-search {
    color: white;
}


.nav-list li a i {
    padding: 5px;
    margin: 5px;
}
.navigation ul li a:hover {
    background-color: #388BAE;
    border-radius: 3px;
    transition: 0.4s ease-in all;
    

}


.dropdown:hover>.dropdown-menu {
    display: block;
}






.jumbotron {
    width: 100%;
height: 960px;
  margin: 0px;
  display: flex;
    justify-content: center;
    align-items: center;
}

.cover-photo {
    width: 100%;
    height: 100%;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
    background: rgba(0, 0, 0, 0.5);
}
.cover-photo img {
    width: 100%;
    opacity: 0.5;
    background-color: black;
    

}


/*.cover-photo  {
    background: url('images/262799773_107035708486894_7457413100493419853_n.jpeg');
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    
    margin: 15px;
    margin-top: 15px;
    opacity: 0.8;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-left: 50px;
    z-index: -1;
}
*/


/*.free {
    width: 15%;
    height: 15%;
    margin: 20px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: solid 1px #2A354F;
    border-radius: 7px;
    background-color: #2A354F;
    z-index: 4;
    opacity: 1;
}

.free h2 {
    font-size: 1.4rem;
    color: #D2D3CF;

}

*/

.main {
position: absolute;
width: 80%;
top: 800px;
left: 70px;
background-color: rgba(255, 255, 255, 0.5);

}

#title-about {
    margin: 15px;
    padding: 10px;
    text-align: center;
}

#title-about h1 {
    font-size: 3rem;
    letter-spacing: 2px;
    color: black;
    font-family: 'Libre Baskerville';
}

#array {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.step {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 10px;
}

.description {
font-size: 2rem;
padding: 5px;
margin: 5px;
color: #6D4C3D;
font-family: 'Libre Baskerville';
}

.number {
    margin: 5px;
    padding: 5px;
    font-size: 2rem;
    border: solid 2px #2A354F;
    border-radius: 50%;
    color: black;
    font-family: 'Libre Baskerville';
}

.cover-photo #title {
    position: absolute;
    top: 300px;
    left: 100px;
    color: #2A354F;
    width: 70%;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 10px;
text-align: center;


    
}
/*.cover-photo #title button {
    width: 15%;
    height: 40px;
    position: absolute;
    top: 185px;
    right: 90px;
    color: #388BAE;
    font-size: 1.2rem;
    border: 1px solid #388BAE;
    font-weight: bold;
    box-shadow: 0 0 2px 2px rgba(255, 255, 255, 0.5);
    
}

.cover-photo #title button:hover {
    background-color: #388BAE;
    color: white;
    transition: all 0.3s ease-in-out;
}*/

.cover-photo #title h1 {
    font-size: 3.5rem;
    padding: 10px;
    font-family: 'Libre Baskerville';
    letter-spacing: 2px;
    
  
}


.content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    margin: 20px;
    padding: 10px;
    
}

#specialist #production #delivery {
    width: 30%;
}